
body {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

/* .cartShop-logo{
  color: white;
} */

button{
  padding: 10px;
   margin: 5px;
   background: yellowgreen;
   /* color: white; */
   border: none;
   font-size: 18px;
   font-weight: 700;
   cursor: pointer;
   box-shadow: 1px 1px rgb(127, 138, 105);
}
